default_job = "s1"
env.CARGO_TERM_COLOR = "always"

[jobs.s1]
command = ["cargo", "run", "--", "d01s1"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]

[jobs.s2]
command = ["cargo", "run", "--", "d01s2"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]


# You may define here keybindings that would be specific to
# a project, for example a shortcut to launch a specific job.
# Shortcuts to internal functions (scrolling, toggling, etc.)
# should go in your personal global prefs.toml file instead.
[keybindings]
1 = "job:s1"
2 = "job:s2"

