default_job = "s1"
env.CARGO_TERM_COLOR = "always"

[jobs.s1]
command = ["bash", "-lc", "cargo run --quiet -- d00s1 2>&1"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]
on_success = "scroll-to-bottom"
on_failure = "scroll-to-bottom"
allow_warning = true

[jobs.s2]
command = ["bash", "-lc", "cargo run --quiet -- d00s2 2>&1"]
need_stdout = true
background = false
on_change_strategy = "kill_then_restart"
kill = ["pkill", "-TERM", "-P"]
watch = ["src"]
on_success = "scroll-to-bottom"
on_failure = "scroll-to-bottom"
allow_warning = true

[jobs.fmt]
command = ["cargo", "fmt"]
need_stdout = false
background = true
on_success = "back"

[keybindings]
1 = "job:s1"
2 = "job:s2"
f = "job:fmt"
